@media (max-width: 768px) {
  .header__image {
    top: 85px;
    left: 450px;
    width: 415px;
    height: 360px;
  }
}

@media (max-width: 425px) {
  .header__image {
    top: -160px;
    left: 200px;
    width: 400px;
    height: 340px;
    z-index: -1;
  }
}

