.nav__inner {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  max-height: 48px;
}