@import '@vars/colors.sass';

.nav__button-icon {
  background-color: $blue_3;
  width: 28px;
  height: 3px;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 28px;
    height: 3px;
    position: absolute;
    top: -7px;
    background-color: $blue_3;
  }

  &:before {
    content: '';
    display: block;
    width: 28px;
    height: 3px;
    position: absolute;
    top: 7px;
    background-color: $blue_3;
  }
}