@media (max-width: 768px) {
  .project-card_width_short {
    width: 352px;
    height: 317px;
  }
}

@media (max-width: 425px) {
  .project-card_width_short {
    width: 100%;
    height: 380px;
  }
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}