@import '@vars/colors.sass';

@media (max-width: 425px) {
  .nav-menu__list-item {
    margin: 0;
    width: 100%;
    height: initial;
    line-height: 58px;
    background-color: white;
    border-bottom: 1px $blue_4 solid;

    &:last-of-type {
      border-bottom: 1px transparent solid;
    }
  }
}